body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: black;
  color: #f3f3f3;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  gap: 3rem;
}

.logs {
  width: 100%;
  max-width: 700px;
  height: 200px;
  background: #04011f;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  font-size: 16px;
}

.logs .log {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: #f3f3f3;
}

input[id="location"] {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #f3f3f3;
  font-size: 1.5rem;
}

.upload {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

label {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: dashed 1px #f3f3f3;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

label:hover {
  background-color: #04011f;
}

input[type="file"] {
  display: none;
}
